/* \/ MAIN BG IMAGE \/ */

main {
  height: 85vh;
  display: flex;
}

#ind_cover_bg_image {
  background: rgb(59, 59, 59);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Images/cover_image.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  top: 0;
  position: relative;
  z-index: 29;
}

#index-textnbuttons {
  display: flex;
  flex-direction: column;
  width: 80vw;
  top: 50vh;
  transform: translateY(-50%);
  min-height: 230px;
  position: absolute;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 30;
  line-height: 1.1;
}

#index-buttons {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  transition: all .6s;
}

.main-button {
  z-index: 5;
  background-color: #03A64A;
  box-shadow: inset 0 0 50px 20px #03A64A;
  transition: all .6s;
}

.main-button:hover {
  background-color: #05F26C;
  transition: background-color .6s;
}

.auxiliar-button {
  z-index: 5;
  background-color: #0d0d0d00;
  transition: box-shadow .6s;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255);
}

.auxiliar-button:hover {
  transition: box-shadow .6s;
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255);
}

@media screen and (max-width: 768px) {

  #index-textnbuttons {
    top: 47vh;
  }

  #index-buttons {
    grid-auto-flow: row;
  }
}

/* /\ MAIN BG IMAGE /\ */
