* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.no_scroll {
  overflow: hidden;
}

/* \/ HEADER \/ */

nav {
  z-index: 150;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: transparent;
  font-family: "hk_groteskbold", Helvetica, sans-serif;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav_hide {
  top: -8vh;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.scroll_nav {
  background-color: #ffffff;
  position: fixed;
  box-shadow: 0 0 10px #0000004f;
  top: 0;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.scroll_nav ul li a {
  color: #272727;
}

#header-logo {
  margin-left: 15%;
}

nav img {
  height: 5vh;
}

.nav_links {
  display: table;
  margin-right: 15%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.nav_links li {
  display: inline-block;
}

.nav_links a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.1rem;
  padding: 3vh;
}

#last_nav {
  padding-right: 0;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #272727;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav_links li:hover {
  cursor: pointer;
}

.nav_links li::after {
  content: "";
  display: block;
  width: 70%;
  margin-left: 15%;
  height: 4px;
  bottom: -8px;
  left: 0;
  position: relative;
  background-color: #f2b366;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

#last_nav_li::after {
  margin-left: calc(15% + 1.5vh);
}

.nav_links li:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.nav_links .current_page_big::after {
  background-color: #fa8756;
  visibility: visible;
  transform: scaleX(1);
}

@media screen and (max-width: 1024px) {
  .nav_links {
    margin-right: 7%;
  }

  #header-logo {
    margin-left: 7%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    background-color: #ffffff;
    box-shadow: 0 0 10px #747474;
    justify-content: space-between;
    position: fixed;
  }

  #header-logo {
    margin-left: 10vw;
  }

  body {
    overflow-x: hidden;
  }

  .nav_links {
    position: absolute;
    right: 0;
    margin-right: 0;
    top: 8vh;
    height: 92vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 60vw;
    transform: translateX(100%);
    transition: transform 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .nav_links li {
    visibility: visible;
    opacity: 0;
    margin: 0;
  }

  .nav_hide {
    top: 0;
  }

  .nav_links a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
    color: #272727;
    padding: 0;
  }

  .current_page::after {
    content: "";
    display: block;
    height: 50%;
    margin: 0% 0 0% 10%;
    bottom: 0;
    position: relative;
    background-color: #fa8756;
    right: 0;
    width: 8px;
    z-index: 151;
  }

  .nav_links li::after {
    display: none;
  }

  .current_page_big::after {
    background-color: #fa8756;
    visibility: hidden;
    transform: scaleX(0);
    display: none;
  }

  .other_pages {
    margin-right: calc(10% + 8px);
  }

  .burger {
    display: block;
    cursor: pointer;
    margin-right: 10vw;
  }

  .nav_active {
    transform: translateX(0%);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.darkened_body {
  position: fixed;
  background-color: #000000;
  width: 100vw;
  z-index: 100;
  height: 100vh;
  display: none;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.75 cubic-bezier(0.075, 0.82, 0.165, 1);
}

.darken {
  transform: translateX(0%);
  display: block;
  opacity: 0.2;
}

.darkenedBodyL {
  position: fixed;
  background-color: #000000;
  width: 100vw;
  z-index: 100;
  height: 100vh;
  display: none;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.75 cubic-bezier(0.075, 0.82, 0.165, 1);
}

.darken {
  transform: translateX(0%);
  display: block;
  opacity: 0.2;
}
/* /\ HEADER /\ */

/* \/ FOOTER \/ */

footer {
  background-color: rgb(228, 228, 228);
  text-align: left;
  color: #757575;
  box-sizing: border-box;
  z-index: 40;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 10px #757575;
}

#footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
}

footer .contacts {
  margin: 40px 5%;
  display: inline-block;
  font-size: 18px;
}

footer .contacts h3 {
  font-size: 24px;
  font-family: "hk_groteskbold", Helvetica, sans-serif;
  font-weight: 600;
  margin: 5% 0;
  color: #575757;
}

footer .contacts .f_sec_title {
  cursor: pointer;
  margin: 10% 0 1% 0;
  font-family: "hk_grotesksemibold", Helvetica, sans-serif;
  color: #575757;
}

footer .contacts .f_sec_content {
  font-family: "hk_groteskregular", Helvetica, sans-serif;
}

.credits {
  background-color: #c5c5c5;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.credits p {
  color: #272727;
  margin: 0 auto;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  #footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
  }

  footer .contacts {
    margin: 40px 0 10px 0;
    display: block;
    width: 100%;
  }

  #contact_noiva {
    margin-bottom: 40px;
  }

  .credits {
    padding: 8px 0;
  }

  .credits p {
    font-size: 12px;
  }
}

/* /\ FOOTER /\ */
