body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.nav_links a{
    color: #0D0D0D;
}

.nav_links .contact{
  font-family: "hk_groteskmedium", Helvetica, sans-serif;
  font-weight: normal;
  color:#03A64A;
}

.nav_links li::after{
    background-color: #03A64A;
}

.burger div {
    background-color: #0D0D0D;
  }

footer{
    background-color: #03A64A;
    position:relative;
}

header{
    display: flex;
    height: 15vh;
}

main {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4vh;
  }

h3{
    line-height: 0.7;
    font-family: "hk_groteskbold", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    transition: all 0.3s ease-in-out;
}

h4{
    line-height: inherit;
    font-family: "hk_groteskbold", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}

.cell-work-div h4:hover{
    text-decoration:underline;
}

p{
    font-family: "hk_grotesklight", Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.5;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

#content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.grid{
  column-width: 30%;
  column-count: 3;
  width: 100%;
}

.grid-works{
    margin-top: 35px;
    margin-bottom: 50px;
    row-gap: 25px;
    column-gap: 25px;
}

.cell{
    display: table-cell;
}

.cell-work{
    margin-top: 25px;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 26px;
    height: fit-content;
    overflow: auto;
    box-shadow: 0px 0px 0px 1px #0D0D0D;
}

.cell-work:first-child{
  margin-top: 0;
}

.cell-work-div{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#por1{
    background-image: url("../Images/ac-cover.jpeg");
}

#por2{
  background-image: url("../Images/p-versah/LogoVertical.jpg");
}

#por3{
  background-image: url("../Images/p-techfer/Frase002.jpg");
}

#por4{
  background-image: url("../Images/p-aletheia/Logo.jpg");
}

#por5{
  background-image: url("../Images/so-tb.jpg");
}

#por6{
  background-image: url("../Images/p-gov/Logo\ Vertical\ Claro.png");
}

#por7{
  background-image: url("../Images/p-reminiscente/Reminiscente-Logo.jpg");
}

#por8{
  background-image: url("../Images/p-ipcxs/01.jpeg");
}

#por9{
  background-image: url("../Images/p-marcal/01.jpg");
}

.por-img-itself{
    padding-top: 100%;
    border-radius: 1px;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.por-img{
    overflow: hidden;
    float: left;
    z-index: 80;
    top: 0;
    width: 100%;
    border-radius: 25px 25px 0 0;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.por-img:hover{
    cursor: pointer;
}

.cell-work-div>h4:hover{
    cursor: pointer;
}

/* LIGHTBOX */

.modal {
    display: none;
    place-items: center;
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
  }

.invisible{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.toggle-opacity{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
  
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 0 0 0;
    max-width: 80vw;
    height: fit-content;
    box-shadow:  0px 0px 0px 2px #ffffff, 0px 0 9px 3px #0d0d0d5c;
    transition: all 0.3s ease-in-out;
}
  
.slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8, .slide9 {
  width: fit-content;
  max-height: 80vh;
  display: none;
  flex-wrap: wrap;
  align-content: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  aspect-ratio: 1/1;
}

.black-bg{
  background-color: #0D0D0D;
  height: 100%;
  width: 100%;
  position: absolute;
}

.square-slide{
  aspect-ratio: 1/1;
}
  
.image-slide {
    width: 100%;
    position: relative;
}
  
.modal-preview {
    width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

.iframe {
  aspect-ratio: 16/9;
  height: 100%;
  width: 100%;
  display: flex;
  max-height: none;
}
  
.modal-iframe{
  width: 100%;
  height: 100vh;
  margin: 0;
  display: contents;
  position: absolute;
  top: 0;
  max-width: none;
}

.video-slide{
  aspect-ratio: 16/9;
}

.close {
    text-shadow: 0px 0 8px #0d0d0d00;;
    font-family: "hk_grotesklight", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 45px;
    font-weight: bold;
    transition: 0.3s ease;
}

.close-iframe{
  top: 5px;
}
  
.close:hover,
.close:focus {
    text-shadow: 0px 0 8px #0d0d0d63;;
    text-decoration: none;
    cursor: pointer;
}
  
.previous, .next{
    text-shadow: 0px 0 5px #0d0d0dbe;;
    font-family: "hk_grotesklight", Helvetica, sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    height: 20%;
    width: 20%;
    margin-top: 40%;
    color: rgba(222, 222, 222, 0.835);
    font-weight: lighter;
    font-size: 30px;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
    transition: all 0.3s ease;
}

.previous{
    padding-left: 15px;
    left: 0;
    top: 0;
}
  
.next {
    justify-content: flex-end;
    padding-right: 15px;
    right: 0;
    top: 0;
}
  
.previous:hover,
.next:hover{
    color: #ffffff;
}

.button-video{
  margin-top: 20%;
}

.por-img-itself:hover{
    transform: scale(1.1);
}

.close-lightbox{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d0d0d00;
}

  @media screen and (max-width: 1024px) {
    .grid{
      column-width: 45%;
      column-count: 2;
    }
    
  }

  @media screen and (max-width: 990px) {
    
  }

  @media screen and (max-width: 820px) {
    
  }

  @media screen and (max-width: 768px) {
  

    .grid{
      column-width: 100%;
      column-count: 1;
    }

    nav{
        position: fixed;
        background-color: #fff;
        box-shadow: 0 0 10px #0000004f;
        min-height: 10vh;
    }

    header{
        min-height: 10vh;
        height: 10vh;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;
        align-content: space-between;
        padding-top: 4vh;
        height: fit-content;
      }

    footer{
        position: relative;
        margin: 0;
    }
  }
